__pycache__/
*.py[cod]
*$py.class
venv/
.env/
.venv/
instance/
.webassets-cache
.pytest_cache/
.cache/
.coverage
nosetests.xml
coverage.xml
*.cover
*.pytest_cache/
migrations/__pycache__/
migrations/versions/__pycache__/
*.log
docker-compose.override.yml
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db
.env
estrutura.txt
